@model BankWEB.Models.BankModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bank</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterestRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterestRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumLoan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumLoan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumDownPayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumDownPayment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanTerm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanTerm)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
