@model IEnumerable<BankWEB.Models.BankModel>

@{
    ViewData["Title"] = "Banks";
}

<h1>Banks</h1>
<div>
    <a style="font-size:32px;" asp-action="Calculate">Calculate</a>
</div>
<p>
    <a asp-action="Create">Create New Bank</a>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterestRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximumLoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinimumDownPayment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanTerm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterestRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumLoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumDownPayment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanTerm)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
